<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsing content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>
      </ul>

      <!-- Search Form -->
      <form action="/listings" method="GET" class="d-flex me-md-3 my-2 my-md-0" role="search">
        <input
          class="form-control search-input me-2"
          type="text"
          name="search"
          placeholder="Search destinations"
          aria-label="Search"
        />
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>Search
        </button>
      </form>

      <!-- Right Links -->
      <ul class="navbar-nav ms-md-auto mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
        </li>

        <% if (!currUser) { %>
          <li class="nav-item">
            <a class="btn nav-link" href="/signup"><b>Sign Up</b></a>
          </li>
          <li class="nav-item">
            <a class="btn nav-link" href="/login"><b>Log In</b></a>
          </li>
        <% } %>

        <% if (currUser) { %>
          <li class="nav-item">
            <a class="btn nav-link" href="/logout">Log out</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>